$gray: #e4ecf5;

$gray1: #fcfcfc;
$gray2: #e7e7e7;
$gray3: #bbbbbb;
$gray4: #666666;
$gray5: #333333;
$gray6: #d5dbe6;
$gray7: #f3f5fa;
$black: #000000;

$red: #ff3336;
$green: #8dc549;
$blue: #0055e9;
$yellow: #f4ae2f;
$purple: #a02cc7;
$lightblue: #2077ec;
$green: #56d088;
$yellow: #f0c70d;
$orange: #ff7313;
$white: #fff;
$color-transparent: transparent;
