$gray: #e4ecf5;

$gray1: #fcfcfc;
$gray2: #e7e7e7;
$gray3: #bbbbbb;
$gray4: #666666;
$gray5: #333333;
$gray6: #d5dbe6;
$gray7: #f3f5fa;
$black: #000000;

$red: #ff3336;
$green: #8dc549;
$blue: #0055e9;
$yellow: #f4ae2f;
$purple: #a02cc7;
$lightblue: #2077ec;
$green: #56d088;
$yellow: #f0c70d;
$orange: #ff7313;
$white: #fff;
$color-transparent: transparent;

$blue-dark2: #232649;
$blue-dark: #314358;
$blue-light: #1592e6;
$blue-light2: #43b7ff;
$blue-light3: #005fec;

$modern-label-color: #758ba3;
$modern-label-error-color: #ed5360;
$modern-background-color-default: $blue-light3;
$modern-background-color-option: $white;
$modern-background-color-choice: $gray;
$modern-background-color-cancel: $white;

$modern-text-color-default: $white;

$chat-pop-label-color: $modern-label-color;
$chat-pop-background: #050827;

$border-color-default: #e6ebf2;
$border-color-darker: #707070;
$border-color-active: #005fec;
$border-color-light: #dce3ea;
$border-color-transparent: $color-transparent;
$color-error: #c92230;
$background-color-default: #edeff4;
$text-color-default: #272a4c;
$text-color-disabled: #9091a3;
$text-color-sublink: #80839f;

$search-field-background-color: #f2f4f8;
$text-color-secondary: #232649;
$icon-color: #b0bbd3;
$text-color-tertiary: #9395ad;
$sidenav-background-default-color: #f7f8fa;
$sidenav-background-secondary-color: #e9edf5;
$background-color-secondary: #7885a0;

$progress-stepper-step-light: #eaebf2;
$progress-stepper-step-medium: #d0dbeb;
$progress-stepper-step-dark: #b7c5d9;

$progress-stepper-text: $modern-label-color;

$svg-icon-fill-default: #9497b9;

$border-color-active: $blue-light3;
$border-color-active-shadow: #43b7ff;
$border-color-error-shadow: #f99;
$modern-border-color-active: $blue-light3;
$modern-control-color: #54687f;

$widget-header-color-active: #9192a6;
$widget-header-color-disabled: #5a5b77;
$controls-icon-color: $blue-light3;
$icon-fill-color-default: #9395ad;
$icon-fill-color-active: $blue-light3;
